[submodule "docker_interface_ros2/src/rq_fts_ros2_driver"]
	path = docker_interface_ros2/src/rq_fts_ros2_driver
	url = git@github.com:panagelak/rq_fts_ros2_driver.git
[submodule "docker_interface_ros2/src/Universal_Robots_ROS2_Driver"]
	path = docker_interface_ros2/src/Universal_Robots_ROS2_Driver
	url = git@github.com:UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = humble
