<?xml version="1.0"?>
<launch>

  <!-- Define the launch argument for the 'simu' flag -->
  <arg name="simu" default="Off"/> <!-- Default value is Off -->

  <!-- Conditional argument for robot_IP selection based on the 'simu' flag -->
  <arg unless="$(eval simu=='On')" name="robot_ip" value="192.168.131.17"/>
  <arg if="$(eval simu=='On')" name="robot_ip" value="192.168.1.1"/>
  <group ns="ur5">

    <arg name="debug" default="false" doc="Debug flag that will get passed on to ur_co>
    <arg name="reverse_ip" default="" doc="IP of the driver, if set to empty it will d">
    <arg name="reverse_port" default="50001" doc="Port that will be opened by the driv>
    <arg name="script_sender_port" default="50002" doc="The driver will offer an inter>
    <arg name="trajectory_port" default="50003" doc="Port that will be opened by the d>
    <arg name="script_command_port" default="50004" doc="Port that will be opened by t>
    <arg name="tf_prefix" default="" doc="tf_prefix used for the robot."/>
    <arg name="controllers" default="joint_state_controller joint_group_pos_controller twist_controller" doc="Con>
    <arg name="stopped_controllers" default="joint_group_pos_controller " doc="Control>
    <arg name="controller_config_file" default="$(find ur_lasa)/config/ur5_controllers>
    <arg name="robot_description_file" default="$(find ur_description)/launch/load_ur5>
    <arg name="kinematics_config" default="$(find ur_lasa)/config/ur5_calibration_lasa>
    <arg name="headless_mode" default="false" doc="Automatically send URScript to robo>
    <arg name="ur_hardware_interface_node_required" default="true" doc="Shut down ros >

    <include file="$(find ur_robot_driver)/launch/ur_common.launch" pass_all_args="tru>
      <arg name="use_tool_communication" value="false"/>
    </include>
  </group>
</launch>


